<p id="notice"><%= notice %></p>

<p>
  <h3>Name:</h3>
  <%= @post.name %>
</p>

<p>

<h3>Content:</h3>
<%= @post.content %>

</p>

<p>
  <h3>Tags: </h3>
  <% @post.tags.each do |tag| %>
    <div>
      <%= tag.name %>
    </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
